<div *ngIf="loaded">
    <span *ngFor="let section of parsedItems">
      <span
        class="m-0 p-0" 
        style="white-space: pre-wrap" 
        *ngIf="section.type==='text'"
      >{{section.text}}</span>

      <span 
        class="m-0 p-0" 
        style="background-color: purple;white-space: pre-wrap" 
        *ngIf="section.type==='<<p>>'"
      >{{section.text}}</span>

      <code 
        class="m-0 p-0" 
        style="white-space: pre-wrap" 
        *ngIf="section.type==='<<s>>'"
        [innerHTML] = "section.text"
      ></code>

      <br *ngIf="section.type==='<br>'" />
    </span>
</div>