<getready-with-pretty-print (PRLoaded)="prLoaded()">
</getready-with-pretty-print>

<div *ngIf="loaded&&PRLoaded">
    <h1>Question</h1>
    <getready-text-visualisation-tblock [text]="question.question">
    </getready-text-visualisation-tblock>
    <h1>Comment</h1>
    <getready-text-visualisation-tblock [text]="question.comment">
    </getready-text-visualisation-tblock>
    <h1>Answer</h1>
    <getready-text-visualisation-tblock [text]="question.answer">
    </getready-text-visualisation-tblock>
    <button class="btn btn-primary" (click)="onClickBack()">Back</button>
</div>