    <getready-item-selector
      *ngIf="selectingItems && (items$|async) as items"
      [folders]="items"
      (selectedItemsEmitter)="questionsSelected($event)"
    ></getready-item-selector>
  
    <div *ngIf="!selectingItems && (folders$|async) as folders">
       Copy Questions: {{folders.length}}
      <getready-folder-selector
        [isGlobal]="false"
        [folders]="folders"
        (folderSelectedEmitter)="folderSelected($event)"
        (folderCreatedRefresh)="folderCreatedRefresh()"
      >
      </getready-folder-selector> 
    </div>
  