<div *ngIf="loaded" (click)="onClickQuestion()" class="card mb-2 mt-2" style="border: 1px solid rgba(3, 91, 255, 0.6)">
  <div class="card-body">
    <h6 className="card-title">{{question.name}}</h6>
    <div *ngIf="isGlobal">
      <div *ngIf="user.isAdmin">
        <a class="ml-2" (click)="stopPropagation($event)" [routerLink]="[routePaths.deleteQuestionPath+'/'+question.id+'/global']">Delete</a>
        <a class="ml-2" (click)="stopPropagation($event)" [routerLink]="[routePaths.editQuestionPath+'/'+question.id+'/global']">Edit</a>
      </div>
    </div>
    <div *ngIf="!isGlobal">
      <a class="ml-2" (click)="stopPropagation($event)" [routerLink]="[routePaths.deleteQuestionPath+'/'+question.id+'/personal']">Delete</a>
      <a class="ml-2" (click)="stopPropagation($event)" [routerLink]="[routePaths.editQuestionPath+'/'+question.id+'/personal']">Edit</a>
      <a class="ml-2" href="#" (click)="publish($event)">Publish</a>
    </div>
  </div>
</div>