<div (click)="onClickSheet($event, sheet.id)" *ngIf="loaded" class="card mb-2" style="border: 3px solid rgba(100, 100, 100, 0.6)">
  <div class="card-body">
    <h6 className="card-title">{{sheet.name}}</h6>
    <div *ngIf="isGlobal">
      <div *ngIf="user.isAdmin">
        <a [routerLink]="[routePaths.deleteSheetPath+'/'+sheet.id+'/global']">Delete</a>
        <a [routerLink]="[routePaths.editQuestionSheetPath+'/'+sheet.id+'/global']" class="ml-2">Edit</a>
      </div>
    </div>
    <div *ngIf="!isGlobal">
      <a [routerLink]="[routePaths.deleteSheetPath+'/'+sheet.id+'/personal']">Delete</a>
      <a [routerLink]="[routePaths.editQuestionSheetPath+'/'+sheet.id+'/personal']" class="ml-2">Edit</a>
    </div>
  </div>
</div>