<div *ngIf="loaded" (click)="onClickCurrentSheet($event, currentSheet.questionSheetId)">
  <div class="card mb-2" style="border: 3px solid rgba(0, 0, 0, 0.6)">
    <div class="card-body">
      <h6 class="card-title">{{currentSheet.name}}</h6>
      <div *ngIf="isGlobal">
        <div *ngIf="user.isAdmin">
          <a [routerLink]="routePaths.createSheetPath+'/'+currentSheet.id+'/global'">Create Sheet</a> <br />
          <a [routerLink]="[routePaths.createQuestionPath+'/'+currentSheet.id+'/global']">Create Question</a> <br />
        </div>
        <a href="#">Copy Questions</a>
      </div>
      <div *ngIf="!isGlobal">
        <a [routerLink]="routePaths.createSheetPath+'/'+currentSheet.id+'/personal'">Create Sheet</a> <br />
        <a [routerLink]="[routePaths.createQuestionPath+'/'+currentSheet.id+'/personal']">Create Question</a> <br />
        <a [routerLink]="[routePaths.testPath+'/'+currentSheet.id+'/multiple']">Start Test</a>
      </div>
    </div>
  </div>
</div>