<div *ngIf="loaded && PRLoaded && firstQuestionLoaded">
    <div *ngIf="(currentQuestion$ | async) as question">
        <h1>Name</h1>
        {{question.name}}
        <h1>Question</h1>
        <getready-text-visualisation-tblock
            [text]="question.question"
        ></getready-text-visualisation-tblock>

        <h1>Your Answer</h1>
        <textarea 
            [(ngModel)]="userAnswer"
            class="form-control-black mb-4"
            autosize
            [minRows]="1"></textarea>

        <div *ngIf="shouldShowComment">
            <h1>Comment</h1>
            <getready-text-visualisation-tblock
                [text]="question.comment"
            ></getready-text-visualisation-tblock>
        </div>

        <div *ngIf="shouldShowAnswer">
            <h1>Answer</h1>
            <getready-text-visualisation-tblock
                [text]="question.answer"
            ></getready-text-visualisation-tblock>

            <h1>Rate Your Answer</h1>
            <rating [(ngModel)]="userRating"
                [max]="10">
            </rating>
        </div>

        <getready-buttons-renderer [data]="buttons"></getready-buttons-renderer>
    </div>
</div>

<getready-with-pretty-print
(PRLoaded)="onPrLoaded()"
></getready-with-pretty-print>