<h1>Works</h1>
{{questionSheet$ | async | json }}
<!-- <h1>GLOBAL SHEETS</h1>
<div *ngIf="loaded">
    <div class="row">
        <div class="col-3 mt-2">
            <div (click)="onClickCurrentSheet($event, currentSheet.questionSheetId)">
                <div class="card mb-2" style="border: 3px solid rgba(0, 0, 0, 0.6)">
                    <div class="card-body">
                        <h6 class="card-title">{{currentSheet.name}}</h6>
                        <div *ngIf="isAdmin">
                            <a href="#">Create Sheet</a> <br />
                            <a href="#">Create Question</a> <br />
                        </div>
                        <div *ngIf="isUser">
                            <a href="#">Copy Questions</a>
                        </div>
                    </div>
                </div>
            </div>
            <div (click)="onClickChild($event, child.id)" *ngFor="let child of currentSheet.children">
                <div class="card mb-2" style="border: 3px solid rgba(100, 100, 100, 0.6)">
                    <div class="card-body">
                        <h6 className="card-title">{{child.name}}</h6>
                        <div *ngIf="isAdmin">
                            <a href="#">Delete</a>
                            <a href="#" class="ml-2">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div cdkDropListGroup class="col-9">

            <div class="row"> 
 
                <div cdkDropList (cdkDropListDropped)="onDropped($event)" [cdkDropListData]="1" class="col-4">
                    <div cdkDrag (click)="onClickQuestion($event, question.id)" *ngFor="let question of col1">

                        <div class="box-custom-placeholder" *cdkDragPlaceholder></div>

                        <div (click)="onClickGlobalQuestion(question.id)" class="card mb-2 mt-2" style="border: 1px solid rgba(3, 91, 255, 0.6)">
                            <div class="card-body">
                                <h6 className="card-title">{{question.name}}</h6>
                                <div *ngIf="isAdmin">
                                    <a href="#" class="ml-1">Delete</a>
                                    <a class="ml-2" [routerLink]="[routePaths.editQuestionPath+'/'+question.id+'/global']">Edit</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div cdkDropList (cdkDropListDropped)="onDropped($event)" [cdkDropListData]="2" class="col-4">
                    <div cdkDrag (click)="onClickQuestion($event, question.id)" *ngFor="let question of col2">
                        
                        <div class="box-custom-placeholder" *cdkDragPlaceholder></div>
                        
                        <div (click)="onClickGlobalQuestion(question.id)" class="card mb-2 mt-2" style="border: 1px solid rgba(3, 91, 255, 0.6)">
                            <div class="card-body">
                                <h6 className="card-title">{{question.name}}</h6>
                                <div *ngIf="isAdmin">
                                    <a href="#" class="ml-1">Delete</a>
                                    <a class="ml-2" [routerLink]="[routePaths.editQuestionPath+'/'+question.id+'/global']">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div cdkDropList (cdkDropListDropped)="onDropped($event)" [cdkDropListData]="3" class="col-4">
                    <div cdkDrag (click)="onClickQuestion($event, question.id)" *ngFor="let question of col3">
                        
                        <div class="box-custom-placeholder" *cdkDragPlaceholder></div>
                        
                        <div (click)="onClickGlobalQuestion(question.id)" class="card mb-2 mt-2" style="border: 1px solid rgba(3, 91, 255, 0.6)">
                            <div class="card-body">
                                <h6 className="card-title">{{question.name}}</h6>
                                <div *ngIf="isAdmin">
                                    <a href="#" class="ml-1">Delete</a>
                                    <a class="ml-2" [routerLink]="[routePaths.editQuestionPath+'/'+question.id+'/global']">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div> -->