<div *ngIf="!areCreatingFolder">
  <h1> Folder Picker </h1>
  <getready-folder-recursion
    *ngIf="loaded"
    (selected)="folderSelected($event)"
    (folded)="folderFolded($event)"
    [currentNode] ="root"
    [allNotes] = "folders"
    [selectedId] = "selectedId"
    [foldedFolders]= "foldedFolders"
  ></getready-folder-recursion>
  <getready-buttons-renderer
    [data]="buttons"
  ></getready-buttons-renderer>
</div>
<div *ngIf="areCreatingFolder">
    <getready-create-dir-internal
      [intGlobal]="false"
      [intParentId]="selectedId"
      (folderCreatedEmitter)="onFolderCreated()"
    ></getready-create-dir-internal>
</div>